body
{
	margin:0;
	padding: 0;
	
}
.Info a
{
	top: 600px;
	position: absolute;	
	transform: translate(-50%,-50%); 
	width: 140px;
	height: 43px;
	border: 2px solid #f310c5;
	text-align: center;
	line-height: 30px;
	border-radius:40px;
	color: #8aee43;
	text-transform: capitalize;
	text-decoration: none;
	font-family: Monotype Corsiva;
	transition: 10s;
	overflow: hidden;
	
	
}
.Info a:hover
{
	color: #1027f3;
	box-shadow: -15px 0 50px rgba(022,20,22,1),-15px 0 50px rgba(102,0,178,1);
	text-shadow: 0 0 10px rgba(255,255,25,0.50), 0 0 25px rgba(255,255,25,0.50),
	 0 0 35px rgba(255,255,25,0.50);
}
.Info a:before
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 43px;
	border-radius: 50%;
	background:rgba(022,10,22,0);
	filter: blur(4px);
	transition: 2s;
	z-index: -1;
}
.Info a:hover:before
{
	background:rgba(235,20,22,1);
	transform: scaleX(5) ;
}
.Info a:after
{

	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	height: 43px;
	border-radius: 50%;
	background:rgba(83,0,178,0);
	filter: blur(4px);
	transition: 2s;
	z-index: -1;
	mix-blend-mode: lighten;
}

.Info a:hover:after
{
	background:rgba(83,0,178,1);
	transform: scaleX(5) ;
}